<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css%22%3E">
    <title>Home page</title>
</head>
<body>
    <h1>Home Page</h1>
    <form  action="#" th:action="@{/}" method="post">
        <button name="logoutBut" type="submit" class="btn btn-primary" value="logoutBut">Logout Here</button>
    </form>
</body>
</html>